<!DOCTYPE html>
<html ng-app="ionicMovies">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">     
    <title>Ionic IMDB Movie Search</title> 
    
    <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
	<link href="http://code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
    
</head>

<body ng-controller="MovieController">
    <ion-content scroll="false">
    <div class="row">
     <div class="col text-center">
      <img class="" ng-src="img/logo_b.png">
  </div>
</div>


<div id="search-box" class="bar bar-header item-input-inset">
    <div class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search movie on IMDB" ng-model="moviesearch.query" ng-change="searchMovie()">
  </div>
  <button class="button button-small" ng-click="clearSearch()">
    Cancel
</button>
</div>

</div>
<div ng-if="moviesearch.found">
    <div class = "row">
       <movie-entry details="moviesearch.details"></movie-entry>
   </div>
</div>
</ion-content>
</body>

<script src="js/app.js"></script>
</html>
